<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <style>
        .newText { font-weight: bold; }
        .text { font-size: 45px; }
    </style>
</head>

<body >
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dev Announcements</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

    <div style="padding-left: 10px; padding-right: 10px;" id='messages'></div>



<script>
    var newMsgTime = 60000;

    function addMsg(msg) {
        var date = moment().format('MMMM Do, h:mm:ss a'); // February 26th, 1:14:36 am

        var newMsgPanel = $(
            "<div class='panel panel-success'><div class='panel-heading'><span class='age'>0</span><span> minutes</span><span> ago - </span>" + date + "</div>" +
            "<div class='panel-body'><p class='text newText'>" + msg.data + "</p></div></div>"
        );

        $("#messages").prepend(newMsgPanel);

        setTimeout(function() {
            newMsgPanel
                .removeClass("newText")
                .removeClass("panel-success")
                .addClass("panel-primary");

            newMsgPanel.find(".text").removeClass("newText");
        }, newMsgTime);

        setInterval(function() {
            $(".age").each(function(i,o) {
                var currentAge = parseInt($(o).text());

                $(o).text(currentAge + 1);
                $(o).next().text

            });
        }, 60000);
    }

    var socket = new WebSocket("ws://" + window.location.hostname + ":7579/stream");
    socket.onmessage = function(msg) {
        console.log("got msg from server: " + msg.data);
        addMsg(msg);
    };
</script>
</body>

