<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body style="padding:10px;">
    <!--<h1>Stream</h1>-->
    <div id='messages'></div>


<script>
    function addMsg(msg) {

        var date = moment().format('MMMM Do, h:mm:ss a'); // February 26th, 1:14:36 am
        $("#messages").prepend(
        "<div class='panel panel-primary'><div class='panel-heading'>" + date + "</div>" +
        "<div class='panel-body'><p>" + msg.data + "</p></div></div>");
    }

    var socket = new WebSocket("ws://" + window.location.hostname + ":7579/stream");
    socket.onmessage = function(msg) {
        console.log("got msg from server: " + msg.data);
        addMsg(msg);
    };
</script>
</body>

